[2016-10-28 20:30] andymac4182 opened #1 "Would you be interested in porting this to the new Turnigy Evolution"
Hi,

Have you had a look at whether it is possible to port this to the new Turnigy Evolution?

https://hobbyking.com/en_us/fpv-racer-radio-mode-2-white.html

https://www.youtube.com/watch?v=ZMHVIhZzSMI

Cheers,
Andrew

[2016-10-29 08:41] fishpepper commented on #1
Should be no big deal. If someone sends me a tgy evolution i will have a look and if it uses the same hardware as the i6s i will port my code. It should be enough to have it 2-3 weeks for the initial porting. I am located in germany.

[2016-10-29 21:40] maymayday90 commented on #1
Yes, would also be very interested in this. As far as I know, hardware is almost identical, though I'll be getting my Evo soon and can double check.

Is there a PPM stream available either with stock firmware or your firmware? Thinking external modules. From your pinout documentation it seems like the current transceiver chip is fed data (serial?) instead of PPM.

Have you looked at the opentx or

[2016-10-30 07:20] fishpepper commented on #1
I know and use OpenTX on my main tx. The reason for writing openground from scratch is that opentx has way to many features i do not need at all on my quadcopters. I want something plain and simple. Not more ;)
The stock and CC2500 modules are both fed via SPI. Right now i do not plan adding ppm stream output as this adds unnecessary delays and i prefer the clean and direct connection to the modul

[2016-10-30 12:14] maymayday90 commented on #1
I will agree on way too many features. More of a pick and choose as needed and pull across to OpenGround. But I'm not doing the hardwork, you are. My coding is not even close to being able to write stuff for this.

Reason for PPM out is for external modules. Frsky module (though you have that already with the CC2500 module, but was thinking an XJT module or something), DSMX module, and most import

[2016-10-30 12:17] fishpepper commented on #1
PPM output e.g. on the trainer port should be no big deal. It can be generated by a hardware timer.

[2016-10-30 22:54] maymayday90 commented on #1
No trainer port on the Evolution. Would have to be hacked probably.

[2016-11-11 05:04] maymayday90 commented on #1
![2016-11-10 20 50 33](https://cloud.githubusercontent.com/assets/11403133/20204923/f209d980-a788-11e6-9650-ecd55bb34c70.jpg)
![2016-11-10 20 50 58](https://cloud.githubusercontent.com/assets/11403133/20204924/f20d259a-a788-11e6-9ab2-f382aeec643d.jpg)

I'm sure you probably have pics already of this, but here's the internals of the Evolution. Seems almost identical to the i6s. There is no trainer

[2016-11-15 03:37] metalnow commented on #1
Is it possible rewrite the driver of stock RF module for TGY-EVO?

[2016-11-15 06:12] andymac4182 commented on #1
I might be wrong but I that it wouldn't help due to the different modules doing different modulation. It would be good to see someone add support for FlySky as this is a great radio just not awesome receivers or firmware.

[2016-11-15 07:14] robthomson opened #2 "Can a version be made that supports the stock rf module?"
As per subject.. is it necessary to use the flysky module?

For many... the stock module will be perfect - what they would want is an opensource firmware.

[2016-11-15 10:37] JackFarrand commented on #2
Agreed on this, ability to add more mixes and wing types would be brilliant.

Perhaps a bounty?

[2016-11-15 10:46] robthomson commented on #2
And more model memory!

[2016-11-15 10:52] andymac4182 commented on #2
@JackFarrand I don't think this is a great radio for planes and mixes due to no trims.

[2016-11-15 11:01] JackFarrand commented on #2
@andymac4182 see, you say that but I use mine for three separate fixed-wing models, trims are just done using the back buttons and the sticks, very easy to use.

[2016-11-16 06:47] andymac4182 commented on #1
@fishpepper I have sent you an email about how to send you the money for this if you are still interested 👍

[2016-11-16 08:14] fishpepper commented on #1
The stock module uses a different chipset as FrSky. I have never used it and i do not know the flysky protocol. But soemone who does could easily add support for that in the code. Then one would have to use the flysky receivers as well.

@andymac4182: i did not get any email from you. Where did you send it to? Try fishpepper <AT> gmail.com Thanks :)

[2016-11-16 08:39] andymac4182 commented on #1
@fishpepper I have emailed that address now :)

[2016-11-17 02:08] cj1324 commented on #1
@fishpepper

Does this project help you?
https://github.com/tipouic/DIY-Multiprotocol-TX-Module/tree/flysky_afhds2a

[2016-11-29 13:12] add1ct3dd commented on #1
Subbed

[2016-12-07 20:51] totterfree commented on #1
Also curious as to how this turns out. I'd love to be able to Tiny Whoop with the Evolution

[2016-12-08 03:32] Tesla99 commented on #2
Yes an open source firmware on stock module with more mixing options would be best.
While ability to use frsky module is also great.

[2016-12-17 04:35] jacobbloy commented on #1
https://www.rcgroups.com/forums/showthread.php?t=2566271&page=18#post35433517

Adding a external module to the i6s might work for the evolution. The trainer port could be there just not active

[2016-12-17 04:56] maymayday90 commented on #1
Hmm yes, I like that. Can't see what's on that trainer pcb though, might be a conversion chip or something.

[2016-12-17 05:38] jacobbloy commented on #1
who has a i6s that can have a look? mine is in the mail

[2016-12-17 13:46] Tesla99 commented on #1
I have the i6s. What do u need?

[2016-12-17 14:41] jacobbloy commented on #1
You will need to pop it open then take a picture on the small pcb that the trainer port is soldered to. Need a pic of both sides so we can see if there is an ic or resistors ect. If we can replicate this board then we can try and add it into the evolution. If looks like the evolution has the plug header for it.

[2016-12-17 14:46] jacobbloy commented on #1
This pcb on the other side I guess
https://static.rcgroups.net/forums/attachments/1/3/6/1/8/5/a9237516-44-image.jpg

[2016-12-17 15:05] jacobbloy commented on #1
Then if there are no ic's ect on that little pcb, just above the header for the little pcb s wire harness, there is a pad labeled ppm out, we need to trace this back to the mcu  and find out what pin it is using. If we can locate that we can see if the evolution has ppm on the pin also

[2016-12-18 04:52] Tesla99 commented on #1
Ok I'll click some pics and post them tomorrow. Lots of work today...

[2016-12-19 07:47] maymayday90 commented on #1
I have never had my fingers crossed this hard hoping it can be traced back on the Evolution...

[2016-12-19 08:36] maymayday90 commented on #1
![capture](https://cloud.githubusercontent.com/assets/11403133/21305909/07eaa97e-c583-11e6-99d6-c9d089857095.JPG)

Looks like the PPM out is here, if there's no IC or anything on the separate PCB. Continuity check it to every pin on the ARM processor! And hope it's possible.

[2016-12-20 11:01] francescromai commented on #1
Hello everybody! I'm new in that kind of projects, but it could be awesome if we can use the Evolution radio with frsky receivers!
Is there  any chance?
Cheers

[2016-12-20 12:02] jacobbloy commented on #1
We are looking into it.

[2016-12-20 22:12] andymac4182 commented on #1
@francescromai Yes it is possible. It is just when someone or @fishpepper has time to port the code.

[2016-12-22 06:38] jacobbloy commented on #1
it seems like the ppm signal on the i6s is coming from the PD5 pin on the stm32f07 chip with a 200ohm resistor in line. there is no second ic on the trainer port pcb as you can see on the pics attached. is some one has the turnigy evolution a 200ohm resistor and a Oscilloscope you could check is there is actually in fact a ppm signal that i accessible on the evolution.
you will need to connect it

[2017-01-11 12:36] VR-69 commented on #1
Maymayday90 Can I connect the ppm out to my crossfire?

[2017-01-11 23:26] maymayday90 commented on #1
Haven't checked this yet. Will try in the next day or two.

[2017-01-12 02:27] VR-69 commented on #1
Ok perfect let me know :)

[2017-01-12 05:54] kevinlynn commented on #1
Sent you an email about helping with the a7105 chip and getting afhds + afhds 2a out of an i6s / evo

Like most here I prefer frsky but there are so many toy drones that use the older flysky protocol(afhds) If afhds could be added to the evolution then you could use it to control many micro drones from Banggood. Since there's some code already available from the deviation folk and also the multi p

[2017-01-14 17:00] duststorm commented on #2
I'm going to look into this. As part of getting open source software on my Evolution, I first want to try and get the standard tx module working, and then perhaps see if I can exchange it with a module that supports frsky D16.
The people at deviation already have implemented AFHDS2, so it should be a matter of porting that code to the stm32 in the i6s/evolution.

[2017-01-16 22:51] DaveP2017 commented on #1
Hi All

Well I've digged and I've dug, I've poked and I've prodded just about everything on the Evolution pcb and came up with zilch in the quest for anything resembling a ppm signal....

Which is probably why no one has posted their failure after all this time... I however have no pride so don't mind admitting defeat.

So an rx with ppm out connected directly to a 4 in 1 multi module looks the ea

[2017-01-16 22:59] jacobbloy commented on #1
So you tried the PD5 pin on the mcu? I'm getting the evolution in a couple of days but I feel like it is turned off in the firmware maybe the next thing is trying to get the i6s firmware loaded on the evolution.

[2017-01-16 23:00] andymac4182 commented on #1
@jacobbloy The pin outs aren't identical between the two controllers. @fishpepper tested OpenGround and its similar but the ADC set up isn't the same.

[2017-01-16 23:03] jacobbloy commented on #1
That's a bummer. But was worth a try. I guess it will take some more time. But I feel we will eventually have an open firmware for this transmitter that can have an external module.

[2017-01-16 23:11] DaveP2017 commented on #1
Yes...  pin 86 and also the other 99 as well, lol

[2017-01-16 23:35] andymac4182 commented on #1
@jacobbloy It wouldn't take much to have this ported. I know there are a few people talking about it but no one that has actually done any work yet.

[2017-01-18 03:51] kevinlynn commented on #1
Has anyone noted how to get the turnigy evolution into DFU mode? The i6s had pads you could jumper but the mt6 doesn't. MT6 also has a set of holes labeled H1 with a test pad that is looks to be labeled UPDATA that I haven't seen in the original board.

It looks like the BOOT0 pin (pin 94) no longer has those traces going to pad and would need to be jumped on the resistor pads. Has anyone done thi

[2017-01-18 03:59] andymac4182 commented on #1
@kevinlynn I believe its the same as the i6s according to an email I received from @fishpepper.

[2017-01-18 04:19] kevinlynn commented on #1
The i6s has a resistor on R59 just like the mt6 has. The only difference appears to be the pads (R60) on the i6s making it easier to jumper. I was really just asking because it would be nice if someone had traced it and found the pads elsewhere. I'm in the process of breaking out the pins to make it easy to work on this while the case is assembled and I'll admit that soldering onto smd components

[2017-01-18 07:52] fishpepper commented on #1
Right, R59 is the same. One side of R59 goes to gnd, the other one goes to the boot pin. Make sure to pull that one high (3.3V).

[2017-01-18 12:05] DaveP2017 commented on #1
Sorry to be going off of the original topic, but ...

@kevinlynn the smaller smd sizes always used to make me nervous until I got a roll of kapton tape and masked everything within a 'large' radius

[2017-01-18 14:47] kevinlynn commented on #1
@fishpepper I'm confused, if I'm jumping R59 (BOOT0) with ground, if I pull 3.3v on the side of R59 that goes to boot0 then wont that cause a short?

Doesn't BOOT0 get 3.3v from powering up the radio once it's jumped?

@DaveP2017 - Thanks for the tip on the kapton tape. Don't you find it's hell to remove after you're done soldering?

[2017-01-18 15:51] kevinlynn commented on #1
I think I get it. The stm32f072 discovery board has boot0 being enabled by jumpering between P2.5 (vdd) and P2.6 (boot0). So it's not a jumper across the resistor but from the boot0 to vdd.

[2017-01-18 16:20] DaveP2017 commented on #1
@kevinlynn

The kapton peels away just fine if you don't hammer it onto the pcb, lol

yes... and in the order of 3v ish ( section 4.7 in the st.com manual)

[2017-01-19 17:22] kevinlynn commented on #1
Pinout of J4 on MT6:
O  |   O   |  O  |  O  |  O
--+-----+----+---+---
3  |    G   |  S  |  S  |  N
v  |    N   |  W | W  |  R
3  |    D   |  D  | C  |  S
    |          |   I   | L  |  T
    |          |  O  | K  |

It doesn't display well for that.. so let me try it sideways. :)
___________
o - 3v3     |
o - gnd     |
o - swdio |
o - swclk  |
o - nrst     |
___________|

This seems to be what I'

[2017-01-19 23:44] kevinlynn commented on #1
[mt6-original-firmware.bin.zip](https://github.com/fishpepper/OpenGround/files/718056/mt6-original-firmware.bin.zip)

I'm connected to it and have pulled the original firmware. I'm putting it here just to be sure it doesn't get lost. :)

[2017-01-20 00:31] jacobbloy commented on #1
Is the firmware you pulled off of the evolution?

[2017-01-20 01:33] kevinlynn commented on #1
Yeah. It's the original firmware so it can't get lost.

[2017-01-20 02:46] jacobbloy commented on #1
Good idea, so your working on changing the ADC mapping for the evolution? I was planning on doing the same this week if I found time.

[2017-01-20 02:50] kevinlynn commented on #1
I think I'll upload the original firmware to a google drive instead. I'll be honest and say that I don't know if it's copyrighted and what the ramifications of putting it here are. Certainly you can't use it without an MT6 but I suppose they could still flip out or something.

If someone needs the original firmware then send me a message.

[2017-01-20 03:39] jacobbloy commented on #2
i don't know about others but i think maybe the support for a multi 4 in 1 module connected via serial could work, opentx added support for this a while back and i think we could use the same method. then we can choose the protocol.

[2017-01-20 10:55] rav-rav commented on #2
Do you mean this project? https://github.com/pascallanger/DIY-Multiprotocol-TX-Module
That really looks very interesting.

[2017-01-20 12:19] jacobbloy commented on #2
Yes this module, but you can also use his firmware on the banggood 4in1 modules. In opentx you can plug this module in via serial and then bind set the protocol all via the model setting.

[2017-01-23 22:34] andymac4182 commented on #1
http://fishpepper.de/2017/01/23/openground-part-12-turnigy-evolution-io-mapping/ 👍

[2017-01-31 06:24] fishpepper commented on #1
The latest master code works on Evolution. See src/config.c on how to enable autodetection on Evolution (a simple pulldown resistor is enough).

[2017-01-31 06:31] andymac4182 commented on #1
@fishpepper Thanks!! sounds nice and simple.

[2017-02-08 10:24] jacobbloy opened #3 "serial support"
has serial support been added. it would be nice to create a programer for future updates ect.
also to restore original functions such as HID joystick support for simulators ect.

example of opened joystick implementation https://github.com/opentx/opentx/commit/86f136c733912eaa3b6e79bae3ceb99e7821edf9

[2017-02-14 08:21] dovaskull commented on #1
Hi guys,

are you still working on this Project? I would wait for a tutorial for dummies to buy this transmitter, looks really nice but all my quads are FrSky.

Great advances @fishpepper

[2017-02-14 11:37] rav-rav commented on #1
I'd love to try it and work on it, but it is constantly on backorder at hobbyking. Is there some other store selling this transmitter?

[2017-02-14 12:43] jacobbloy commented on #1
Mode 1 radios are usually avalible, it is a simple swap over to mode 2, just look on YouTube if that helps

[2017-02-14 18:19] keiser1080 commented on #1
I think but I AM not sure,  it's the same
http://m.banggood.com/fr/search/fs-i6s.html

Le 14 févr. 2017 1:43 PM, "jacob bloy" <notifications@github.com> a écrit :

[2017-02-14 18:41] rav-rav commented on #1
Thanks for the link, but I'm looking for the evolution, not i6s.

[2017-02-14 18:44] totterfree commented on #1
Two questions. 1. I can flash the current build, but will I actually be able to bind to frsky RXs at this point? 2. Is it possible to backup/revert to original firmware if I have problems?

[2017-02-14 19:06] keiser1080 commented on #1
Indeed the evolution is a better radio following multiple reviews.
It's possible to use the multimodule 4in1 with this firmware + the
evolution ?

Le 14 févr. 2017 7:44 PM, "Timothy Ichiyasu" <notifications@github.com> a
écrit :

[2017-02-14 20:48] fishpepper commented on #1
The current build can bind. When you build the sources a txid and hoptable is generated and stored locally (src/hoptable.h) and in the hex file. You can also use the clone function to copy your other transmitter (no rebinding when you use multiple tx necessary).
UI navigation is done by the touchscreen (left/right corner to toggle screens). 4in1 module is not supported right now.

[2017-02-14 22:27] keiser1080 commented on #1
Thanks for your wifi fishpepper!
"4in1 module is not supported right now."
It mean it may be supported in the futur 😀

Le 14 févr. 2017 9:48 PM, "fishpepper" <notifications@github.com> a écrit :

The current build can bind. When you build the sources a txid and hoptable
is generated and stored locally (src/hoptable.h) and in the hex file. You
can also use the clone function to copy your other tran

[2017-02-15 01:51] jacobbloy commented on #1
Support the porting of OpenTx to the turnigy evolution and I6s.
http://www.gofundme.com/3dudryg﻿

I have already emailed Fishpepper and if he is willing to do some payed work i can send some of the risen money his pay to get things like multi module support working and get usb joystick support working again for simulations work.

[2017-02-15 21:28] kevinlynn commented on #1
Fishpepper - do you have any coding standards  you want us to keep to in
order for us to submit changes for a7105 support?

I should be having some time for it next week and figure I'll see about
using some of the deviation stuff to make it easier...

On Tue, Feb 14, 2017 at 8:51 PM jacob bloy <notifications@github.com> wrote:

[2017-02-15 21:36] fishpepper commented on #1
Just make sure it passes the automatic stylecheck (or do make stylecheck) :)

[2017-02-26 10:38] #3 closed, assigned to nobody

[2017-02-26 14:08] rav-rav commented on #1
My evolution finally arrived.
It has a 8MHz oscillator installed, not 12MHz, so CRYSTAL_FREQ / HSE_VALUE should be adjusted accordingly.

[2017-02-26 15:04] fishpepper commented on #1
You are right. The i6s also has an 8Mhz quartz. I need to investigate why this is working correctly with the 12.000000 value in the makefile. All timings are correct (9ms frame time for example). Maybe i messed up the sys clock initializing somehow so that it assumes 8mhz input. I will have to take a close look.

At least it is good to know that both use the same crystal ;)

Created a new issue #4

[2017-02-26 15:06] fishpepper opened #4 "Fix crystal oscilator define and clock init 8mhz VS 12 Mhz"
As found out in #1, both transmitters have a 8Mhz crystal. The SYSCLK define in the makefile assumes 12MHz.  I need to investigate why this is working correctly with the 12.000000 value in the makefile. All timings are correct (9ms frame time for example). Maybe i messed up the sys clock initializing somehow so that it assumes 8mhz input. I will have to take a close look.

[2017-02-26 15:17] rav-rav commented on #4
I've spent hours to find out why my serial output was at 79000 baud instead of 115200.
Default value is 8MHz. Maybe you've build /device/* before adjusting the value in your Makefile?
Make clean does not remove those files.

[2017-02-26 21:17] rav-rav opened #5 "storage_is_valid() not working correctly"
After flashing the firmware for the first time the storage was not initialized correctly.
Modelnames were not available and the display showed weird characters.

I could fix this after using `storage_load_defaults(); storage_save();` but it should work from the beginning.

[2017-02-27 20:35] fishpepper opened #6 "remove st peripheral lib and port to libopencm3"
I just started to port this to use the open libopencm3 instead of the st peripheral libraries.
see branch opencm3 (not working yet)

[2017-02-27 21:11] rav-rav commented on #6
I've been messing with the USART libraries to get the 4-in-1 multimodule running: https://github.com/rav-rav/OpenGround
Hopefully it will be easy to port this to libopencm3.
Did you get the mail I've sent to info fishpepper.de?

[2017-02-27 21:34] fishpepper commented on #6
Should be no problem, libopencm3 looks quite clean to me. Actually it looks much cleaner than the st version...

[2017-02-28 01:46] jacobbloy commented on #6
Iv added USB HID support and done a pull request, I hope you can still do the port to libopencm3 while keeping the changes I have made.

[2017-03-31 03:46] FAHQ13 commented on #1
Is the evo able to bind with frsky? Now that is. If so what do I have to do to make it work on my quads. I have a torretto 130 and the only receiver that fits is the furious fpv micro however it's frsky and I have a turnigy evolution and I love it but hate the frsky fsky flsky difference any help would be greatly appreciated

[2017-04-07 01:45] MrSatoV commented on #1
Just let me say, no matter the outcome, THANK YOU for your work on this guys.  Gives me hope where there was only frustration.  I love the TX but the RX options are irritatingly poor.  I like the X6B RX, but it's too big.  I actually already have on the way a Taranis Q X7 and some XM+ receivers - mostly just so I could use those receivers.  But I'd gladly sell off the Q X7 if you guys get this goi

[2017-04-27 01:47] lunohod commented on #1
I've just got a turnigy evo and waiting for the cc2500 to arrive. Do you have to remove the mainboard before replacing the rf module because of the screen on the other side?

[2017-04-27 08:34] rav-rav commented on #1
No need to remove it. Just open up the remote and you can get right to it.

[2017-04-27 08:59] jacobbloy commented on #1
Be carefully! Cont want to belt the crapy plastic wires and case. If using hot air remove the board or have a reflow temp control. If using solder wick then you can leave it in.

[2017-04-27 10:56] lunohod commented on #1
Thank you, guys! I'm going to use the solder wick. Just want to be sure not to ruin the display.

BTW, what is the best way to flash the fw updates without reopening the case each time? Can the OpenGround trigger the dfu mode? Or is it better to lead out the swd pins with a cable?

[2017-04-27 16:16] totterfree commented on #1
Is there any way we could get someone to describe, in detail, the steps for building/flashing this firmware? I'd like to make a video tutorial for other noobs if I can get this figured out for myself. Thanks in advance!

[2017-04-27 18:58] lunohod commented on #1
It's already described here: http://fishpepper.de/projects/openground/

Install the cross compiler:
`sudo apt-get install gcc-arm-none-eabi`

Download and build:
`git clone https://github.com/fishpepper/OpenGround.git && cd OpenGround`
`make`

Flash with st-link (http://fishpepper.de/2016/09/16/installing-using-st-link-v2-to-flash-stm32-on-linux/)
`make flash`
or using the DFU mode via USB (http:/

[2017-04-28 07:21] lunohod opened #9 "Add support for the FrSky D16 protocol"

[2017-04-29 19:18] ameeuw commented on #1
Did anybody find out which pins the LEDs for the gimbals are on? Would love to have them light up on my Evolution when I use OpenGround.

[2017-05-03 07:47] Adekamer commented on #1
@kevinlynn , i brick my evolution
i unsuccessful upgrade firmware
how i can receive  original firmware ?
how turn on evolution ?

[2017-05-06 07:58] laurynas-karvelis commented on #1
Someone else needs to do a backup of original firmware and send you the file somehow for you to try to restore it back.

[2017-05-06 20:28] lunohod commented on #1
@Adekamer here is my dump of the stock firmware: https://drive.google.com/file/d/0B0MGyLvt7DYTUTRELXZELW10Wms/view?usp=sharing

@ameeuw PA9 and PA10

[2017-05-06 20:33] Adekamer commented on #1
Thank you!

[2017-05-07 08:29] jacobbloy commented on #1
Are you sure that you didn't forget to do the pull-up resistor so the firmware can detect that it is an evolution? Otherwise it will just default to i6s which has different ADC and could stop your ratio powering on. Especially as the i6s has 2 power buttons.

[2017-05-07 08:31] Adekamer commented on #1
where is must be pull-ap resistor ?
1kOm enought ?
Thank.

[2017-05-07 08:43] jacobbloy commented on #1
Pin 10

[2017-05-07 08:54] lunohod commented on #1
It boots up fine without the pull-up resistor. If there is no gui, just flip the right switch :)

[2017-05-07 08:58] lunohod commented on #1
Btw, shouldn't it be a pull-down?
`// tgy evolution has a pulldown on RF0 (=PE.10)`

[2017-05-07 09:24] jacobbloy commented on #1
Haha yes sir

[2017-05-07 09:32] jacobbloy commented on #1
Soo to know about the right switch.
I was going to try and make a hex file that can be used with the GUI st-link software. Or make a was to install openground from the original flysky bootloader mode. So no need to use and st-link.

[2017-05-07 10:35] lunohod commented on #1
Well, it's the middle switch with the pull-down resistor installed.

I just hovered my Q85 with the turnigy evo and it is working! There are just some issues. OpenGround seems to use AETR, but all my betaflight copters are set to TAER. The switches are all inverted compared to my Taranis.

[2017-05-07 12:07] jacobbloy commented on #1
Can some one els please test this .hex file with an stink? you can use stink utilities on windows.

https://drive.google.com/open?id=0Bym9XrdeViekQXJ6dE8yZUdKYVU

[2017-05-07 14:19] jacobbloy commented on #1
![img_5161](https://cloud.githubusercontent.com/assets/7373557/25781915/3f33b690-337f-11e7-844e-65a785f80200.JPG)
confirmed .hex and i would say .bin works via st-link utility via windows. i could not get the .hex or .bin to work via DFU using a DFU gui.

ST-link utility can also be used to restore your firmware via a .bin (tested)

The image confirms what the screen will show if loaded with out a

[2017-05-07 15:20] jacobbloy commented on #1
![img_7624](https://cloud.githubusercontent.com/assets/7373557/25782345/59af78b6-3388-11e7-9d63-78165149032c.JPG)

[2017-05-07 15:28] lunohod commented on #1
There was no place to fit both module and adapter board. I had to use wires instead.
![img_20170507_115719](https://cloud.githubusercontent.com/assets/16175/25782390/8b997d60-334a-11e7-8473-56bdcd0dfdc1.jpg)

[2017-05-07 15:43] lunohod commented on #1
I flashed my evo via DFU without any issues. And once the OpenGround is flashed you can trigger the DFU mode without soldering the boot pin.

[2017-05-07 17:35] andresodio commented on #1
Is soldering that blue board onto the Evolution a must for flying with
FrSky receivers? Or is there a way to use the stock Evolution HW with them?

Thanks,

Andrés

On May 7, 2017 09:28, "lunohod" <notifications@github.com> wrote:

There was no place to fit both modules and adapter board. I had to use
wires instead.
[image: img_20170507_115719]
<https://cloud.githubusercontent.com/assets/16175/257

[2017-05-07 19:05] lunohod commented on #1
@andresodio I guess the stock module will only work with AFHDS 2A receivers.

[2017-05-07 23:29] jacobbloy commented on #1
Is that a 1kohm or 110ohm?

And what was stopping your adapter board from fitting?

Some one would have to add support for ADHDS 2A and to work with the original module. Or look at support for the multiprotocole module. I was looking into it before the port so I'm waiting until that branch gets merged to start again.

[2017-05-07 23:39] lunohod commented on #1
On May 8, 2017 1:29 AM, "jacob bloy" <notifications@github.com> wrote:

Is that a 1kohm or 110ohm?

1k

And what was stopping your adapter board from fitting?

The height of the stack. I ordered my adapter at OSH, it's 1.6mm. But even
without the adapter I had to apply some force to close the case.

[2017-05-08 00:51] jacobbloy commented on #1
My case melted because I used hot air with out taking the board out so mine fits lol. One of those time where you say I shouldn't do this but do it any way.

[2017-05-08 07:04] jacobbloy commented on #1
I have opencm3 branch installed and all of the switches do strange things like turn the controller off is this a debugging feature?

[2017-05-14 13:24] ponnex commented on #1
@lunohod is the uploaded .bin files from the stock firmware that came with evolution or are those from the march updated firmware? :D

[2017-05-14 13:27] lunohod commented on #1
It was the stock fw I got with my evo shipped two weeks ago

On May 14, 2017 3:24 PM, "Emmanuel Francis Ramos Jr." <
notifications@github.com> wrote:

@lunohod <https://github.com/lunohod> is the uploaded .bin files from the
stock firmware that came with evolution or are those from the march updated
firmware? :D

—
You are receiving this because you were mentioned.

Reply to this email directly, v

[2017-05-17 20:48] odi-um commented on #2
@duststorm have you made any progress ?

[2017-08-19 08:49] IdefixRC commented on #1
Hi guys,

just received my Evolution and the RF module.
Is there a list of what works or does not work yet with the evolution after openground conversion?

Thanks !

[2017-08-19 09:30] lunohod commented on #1
I'm working on D16 support for the X receivers. I'll push my changes in two
weeks.

On Aug 19, 2017 10:49 AM, "IdefixRC" <notifications@github.com> wrote:

[2017-08-19 09:41] MrSatoV commented on #1
SWEET!

Shawn Sato-Veillon
佐藤  ショーン

On Sat, Aug 19, 2017 at 6:30 PM, lunohod <notifications@github.com> wrote:

[2017-08-19 11:24] IdefixRC commented on #1
@jacobbloy : Just flashed the hex simply using the Betaflight configurator firmware flasher. After soldering the boot pad it showed up as DFU in the Betaflight configurator and flashing the hex as local firmware file worked flawlessly !! Thanks for providing the file 🥇

-------------------------------
jacobbloy
Can some one els please test this .hex file with an stink? you can use stink utilities

[2017-08-20 02:01] andymac4182 commented on #1
Be cool to work towards an alternative firmware/hardware tx for FrSky. Similar to what the FU-RC guys are working on. Something controlled via a phone as a screen similar to the Mavic controller. Sounds like this is becoming a great firmware for the quad racing industry.

[2017-08-20 06:41] IdefixRC commented on #1
@fishpepper
First of all: AWESOME work. Thanks a lot for putting the effort in (Eine super Leistung :-) )
After testing the hex from jacobblow above and finding out that it was based on his own fork which explained why I had so many issues. I compiled from the latest master and flashed the binary via DFU onto the evolution..

It boots up very quickly and all the menu's as well as the stick calibra

[2017-08-20 07:34] fishpepper commented on #1
This sounds strange. Were you really close to the rx? Try it at a distance of 2m or more.
How does the hoptable look like? It should be printed on the debug console during boot (a list of some hex values).

Please use the opencm3 branch for further developments, this is going to be replace master soon
https://github.com/fishpepper/OpenGround/tree/opencm3

That one uses the open source stm3 library

[2017-08-20 07:44] IdefixRC commented on #1
Thanks for the quick reply. Yes the RX was very close. Will try again with some distance between it and the TX.

As for the opencm branch: is it stable enough for basic flying? Or should i try to get it working with the master first?

Thanks

[2017-08-20 07:56] IdefixRC commented on #1
Tested with the RX a few meters away. Same behavior unfortunately.
Hoptable: is there a possibility to scroll up in the debug screen? It runs through to fast and the only hex values I see on the final screen are those behind: calib fscal1: 1B 20 24 1B 20 24 1B 20 24

Here is a Screenshot of the debug screen: https://goo.gl/photos/nyoLT5hk2WfeTKXx7

[2017-08-23 10:18] hobojoe720 commented on #1
Hey guys, read all this a while ago and forgot about it.
I see from the pics that there is a module to replace the built in FlySky one. is it possible to use the Multi Protocol module in that case? Or is that still a no go without going down the route of having the module external with a receiver feeding it signals?

Also, if I flash the HEX to my Evo, without changing the TX module, I assume I ca

[2017-08-24 12:48] Patrick-Wilson commented on #1
Really interesting! I'll be testing this out soon on my Evolution.. Props to @fishpepper, great idea..

[2017-08-24 13:18] lunohod commented on #1
No, it wont't work. The OpenGround can only talk to the cc2500 module.

On Aug 23, 2017 12:18, "hobojoe720" <notifications@github.com> wrote:

Hey guys, read all this a while ago and forgot about it.
I see from the pics that there is a module to replace the built in FlySky
one. is it possible to use the Multi Protocol module in that case? Or is
that still a no go without going down the route of ha

[2017-08-24 13:26] IdefixRC commented on #1
@fishpepper
Was not able to run further tests during the week but will look into it again on the weekend.
Did you have time to look at the below? Any idea?

Tested with the RX a few meters away. Same behavior unfortunately.
Hoptable: is there a possibility to scroll up in the debug screen? It runs through to fast and the only hex values I see on the final screen are those behind: calib fscal1: 1B

[2017-08-24 14:06] fishpepper commented on #1
Unfortunately you can not scroll up in this screen.
You could place a while(1); after the debug print with the hop table for now.

[2017-08-24 18:08] rav-rav commented on #1
@hobojoe720
@lunohod
I did some initial work on porting code from the multiprotocol project here: https://github.com/rav-rav/OpenGround/commits/opencm3
![4in1](https://user-images.githubusercontent.com/17462561/29681448-fa3e6272-8907-11e7-83bf-399a76beffb2.jpg)

[2017-08-25 00:39] jacobbloy commented on #1
@rav-rav
It looks like you have intergrated the module with out a second mcu, is this correct?
It would be good if you could bring your branch inline with @fishpepper so this hid joystick integration are also added.

[2017-08-25 07:10] rav-rav commented on #1
@jacobbloy
Yes, this module does not have a second mcu and even fits into the enclosing. Unfortunately I didn't have much time to work further on it.

Here's an older version which does work using a serial connection to the module with mcu: https://github.com/rav-rav/OpenGround/commits/multi4in1serial

[2017-08-27 09:54] shadow974 commented on #1
Just flashed the latest Opencm3-Edition to my turnigy evolution. The Hardware is detected correctly as Turnigy Evolution. The AD-Readings seems to be inverted. TX-Clone does nothing for me (stays in Setup menu)

Edit: On the master-branch the menu works and the TX-ID is synched.

[2017-08-28 14:19] shadow974 commented on #1
Ok, just found the part in the sources. The complete clone-process is commented out an the user ist thrown back to the main settings menu. But why?

 I removed the comment-tag, compiled it without problems and it seems to run correctly. Have to try at home with my Taranis.

[2017-08-28 18:18] shadow974 commented on #1
Ok, tested with my taranis and it never gets out of the "preparing autotune" part, so no luck with that. I tracked it down to the function frsky_autotune_do, in step "case (1)". It seems he never receives a valid frame?

The inverted AD-Values are because of my Stick Mode 1 Version (where you swap and rotate the gimbals inside)

[2017-08-29 07:57] Patrick-Wilson commented on #1
@shadow974 I have a mode 1 version, the inverted AD-values can be corrected by unplugging the gimbals from their connecting pcb and swapping the ribbon cables over after the swap and rotate.. worked for me..

Problem I am having, I suspect, is a dead CC2500 module? problems I am seeing are complete freeze / lockup when trying to bind or clone (have to pull the batteries out to power off) and I am

[2017-08-29 11:31] IdefixRC commented on #1
@fishpepper
Thanks for the reply. I went through the code but could not find the obvious place for the hoptable debug line. Assume it is one of the debug messages in debug.h?
Could you point me at the right file?

Thanks

--------------------
Unfortunately you can not scroll up in this screen.
You could place a while(1); after the debug print with the hop table for now.

[2017-08-29 19:18] fishpepper commented on #6
thanks for that, it is integrated in opencm branch and master now.

[2017-08-29 19:18] #6 closed, assigned to nobody

[2017-08-29 19:22] fishpepper commented on #1
@all:
I just fixed the non-working clone tx and some other bugs that made the opencm3 branch non-working.
It's working again. Thanks for pointing out the issues! I merged the opencm3 into master, so now the code to use is the master branch again :)
I will close this issue now (tgy evolution is supported). Please re-open separate issues for any occuring problems. It's way easier to keep track what'

[2017-08-29 19:22] #1 closed, assigned to nobody

[2017-08-30 13:50] shadow974 opened #10 "Feature: dynamic gimbal setup (Stick-Mode, Reverse)"
It seems that the Turnigy Evolution is delivered in several combinations of Stick-Modes where the gimbals are just swapped and rotated. I don't know, how this is done with the fs-i6s.

There are two ways to get every combination solved:

1. preconfigured Input-Mappings with a Menu für the User
2. dynamic mapping while calibrating the sticks (like in most of the FPV-simulators out there)

For the s

[2017-08-30 14:15] fishpepper commented on #10
Good idea. Maybe it would be more simple like this:
1) ask the user to center all sticks and press a button
2) ask the user to move to all extrema and then put both sticks to the upper right corner and press a button.

This assumes left and right stick are never swapped, or are they?

[2017-08-31 09:23] shadow974 commented on #10
I think they are swapped. Mine came in Mode-1 already, so the mapping in the original branch was false.
It seems that there are no pins for the neutralization spring on the throttle gimbal. https://www.youtube.com/watch?v=o9QNUzk90YY

So they are swapped and rotated by 180° to let the cables come out in the middle... If you ask the user every step, it takes longer, yes, but you only do this once..

[2017-09-01 06:55] IdefixRC opened #11 "Evolution - bind/clone issue"
@fishpepper, I recompiled the latest master and tested binding and TXClone again.
Unfortunately I still have the same issue:

Bind mode: Put the RX into bind mode (2 solid LED's), as soon as I hit bind on the TX one RX led starts blinking as it should indicating that it receives the bind packets. However upon restart of both TX and RX, the RX simply blinks indicating no connection.

TX Clone: I tr

[2017-09-19 07:04] Patrick-Wilson commented on #11
I wonder if this is related, I have an XM+ that I can't bind to. I flashed it with the FCC(International) D8 mode firmware and at the point where the bind occurs(green LED on and red LED flashing to acknowledge successful bind) both LED just illuminate and stay on, bind unsuccessful.. I have had this same behaviour with LBT and International rx firmware incompatibilities..

I can bind to my frsky

[2017-09-19 12:27] IdefixRC commented on #11
Oh..... That could explain it. I only have the international version.

[2017-09-22 08:48] Patrick-Wilson commented on #11
I should have an R-XSR in the post today with international FW on it I will do some testing with LBT-EU FW today and report back if I get the time..

[2017-09-22 12:17] IdefixRC commented on #11
@fishpepper, can you confirm if the Evolution code will work with the international firmware? Assume you are using the EU FW in Germany? Thanks

[2017-09-23 08:00] Patrick-Wilson commented on #11
I just got the r-xsr receiver with FCC FW this would not bind so I blew the LBT FW and got exactly the same result, no bind.. I fear the issue is deeper than just frsky protocol flavours..

My Taranis is running International FW and binds to my Beecore whoop fine as does this Openground based Evolution, my Taranis also binds to the International FW R-XSR but Openground on the Evolution won't... *s

[2017-09-24 03:01] IdefixRC commented on #11
Did you try with one of the older D8 only receivers?

[2017-09-25 10:35] Patrick-Wilson commented on #11
No I didn't, I realise now that you stated somewhere OpenGround was for D8 Rx's. Doh! However there is a D8 version f/w for the XM+ which I also had this same issue binding with..

Is D16 compatibility a huge hassle to implement? I see the whole micro market expanding and Rx's like the R-XSR / XM+ being a common place component.

[2017-09-27 00:53] IdefixRC commented on #11
Someone is working on the implementation for it (recall that I saw it in a different thread)

[2017-11-09 19:05] rodizio1 opened #12 "Question: Can the RF output be de-activated by software/firmware"
Idea is to use the Turnigy Evolution in Joystick mode with 2.4Ghz video, however, I found that it's still transmitting when in USB Joystick mode.

Is there a way to turn that off? Either with some menu option like the Taranis offers or maybe by patching/hacking your firmware? It would also be okay if it's 'permanent' i.e. would require flashing a stock firmware to re-activate RF output.

[2017-11-09 19:27] fishpepper commented on #12
Are you running the stock fw or Openground? Openground should not transmit when in USB mode.

[2017-11-09 20:43] rodizio1 commented on #12
I'm still running the stock firmware, yes. So all I have to do is flash your firmware and all is great? Awesome, I'll try that out, thanks a lot.

[2017-11-09 21:20] fishpepper commented on #12
Wait! Make sure to make a dump of the stock of or there is no way back... See my blog  for details:
http://fishpepper.de/2016/09/15/openground-part-2-fs-i6s-dfu-bootloader-access/

[2018-01-30 04:42] John-Titor commented on #1
@lunohod Did you (or someone else) finish the D16 work? Your repo looks like you were still working on it...

[2018-01-30 08:03] lunohod commented on #1
@John-Titor Well, it's still work in progress, but I got D16 working. It was a fast and dirty hack to make it work right before my vacations back in summer. I just replaced D8 with D16, no telemetry, no binding. Right now I'm working on making both D8 and D16 work, gimme a week and I'll upload something working.

[2018-01-30 17:36] John-Titor commented on #1
Thanks! I have to wait for my cc2500 module to show up, so no rush.

[2018-02-02 15:56] lunohod commented on #9
D16 (non-EU) can be tested now: https://github.com/lunohod/OpenGround/commits/new_features
Binding doesn't work as of now, you have to clone an existing Taranis (in D8 mode). Then just change the RX number in the Model X settings.

[2018-02-02 15:57] lunohod commented on #1
@John-Titor https://github.com/lunohod/OpenGround/commits/new_features

[2018-02-21 14:50] ghost commented on #9
@lunohod  Any plans to have this support the evolution? I tried flashing the new_features branch to one and it looked like all the I/O port mapping was for the other model of TX (stick input not there, battery voltage wrong etc.)

[2018-02-21 14:56] lunohod commented on #9
@scottjw hm, I have to test it with my evo. Does the latest version from this repository work for you?

[2018-02-21 14:57] ghost commented on #9
@lunohod ya master branch from fishpepper's repo works for me. I was thinking it just had a bug with model detection or that model was hard coded. Don't know the code base well enough to figure that out though.

[2018-02-21 21:09] lunohod commented on #9
@scottjw I just flashed my evolution with "make dfu" from the head of the new_features branch and it is working fine. The IO mapping is almost the same, just the first 4 channels are in the different order, so you should have the sticks mapped to the wrong channels in the worst case, but no input at all is a different issue. Make sure you have cloned my repo and switched to the new_features branch

[2018-02-21 22:21] ghost commented on #9
@lunohod I repeated the procedure from scratch with make dfu, after I re-saved the stick settings, calibration and model it all just worked. I guess you need to overwrite the storage/settings to update them, thanks a lot for the code and the tips.

[2019-09-09 20:02] ameeuw commented on #9
@lunohod hey there - long time no comments here :) is the development completely dead? I found my evolution in the drawer and have an application for it with my 3" quads. They have an xm+ in there and therefore are D16 protocol...

I went and tested your branch - seems to work fine so far, but I have found a curious bug when monitoring the receiver tab in betaflight: As soon as the touchscreen reg

[2019-09-09 22:12] lunohod commented on #9
@ameeuw hi! Well, all I needed was implemented and I had no new ideas. I could reproduce the bug with my emax tinyhawk in D8 mode. I guess the touchscreen irq handler is blocking the rx timer interrupt.

[2019-09-10 07:51] ameeuw commented on #9
hey @lunohod  - thank you for the super quick reply :)

What would you suggest? Move the checking of the `TOUCH_INT_PIN` pin from the external interrupt to the `sys_tick_handler`, poll every sys_tick and apply debouncing?

Debouncing in the IRQHandler seems wrong to me..

[2019-09-10 08:16] lunohod commented on #9
I would just set a flag in the interrupt handler and then trigger the i2c communication from the sys_tick_handler. Maybe we could/should use DMA for the i2c, but I have no idea how to do that.

[2019-09-12 07:03] ameeuw commented on #9
@lunohod I introduced a flag to register touch events and trigger the i2c communication from the sys_tick_handler every some ms.
However, it seems that it is not the frequency of i2c reads but the way the [`touch_i2c_read`](https://github.com/fishpepper/OpenGround/blob/master/src/touch.c#L330-L427) function works

Next thing I wanted to try is to make a state machine for the byte transfer which wo

[2019-09-12 07:15] fishpepper commented on #9
You are right, doing the I2C call in the interrupt handler is really stupid^3. No idea how it got there in the first place 8)
Setting a flag and doing it in the systick is way better.

I guess a non blocking statemachine would be the prefered way.
Are you sure that this blocking is the cause of the link loss?
Does it only happen on D16 or on D8 as well?

The frsky stuff should run triggered by the

[2019-09-12 08:05] ameeuw commented on #9
Nope I am not sure - your thoughts were exactly mine. The ISR should be executed every 9ms  no matter what blocking code happens... any further thoughts what might cause the link loss?

Have not tried it on D8 - I dont think I have a D8 receiver lying around anymore. @lunohod could the D16 extension have anything to do with the link loss?

At the moment I am just trying to figure out the cause. Ma

[2019-09-12 09:22] lunohod commented on #9
I was able to reproduce the issue with D8 too. But I was using my branch, where the DIY-Multiprotocol-TX-Module code for both D8 and D16 is being used. It's also timer driven though. I can test later with original OpenGround code.

[2019-09-12 19:07] lunohod commented on #9
I just tried the master branch of this repo and the issue is there. Also removed the i2c communication from the irq handler and it doesn't help

[2019-09-12 19:48] lunohod commented on #9
LOL, you can't do that in the systick handler either, it's an isr too!

I moved the I2C communication to the touch_get_last_event(), which is called from the gui main loop. But I had to decrease the gui timeout, because it was skipping touch events.

[2019-09-12 21:12] ameeuw commented on #9
Nice! Did that just now and it works like a charm.

[2019-09-12 21:13] ameeuw commented on #9
Different question now: how to enable 16 channels? :)

[2019-09-13 06:01] lunohod commented on #9
@ameeuw this might be a little harder. If you want to send 16 channels, you send first 8 and then the last 8 channels alternately.

8ch mode is hardcoded, you have to  remove three lines there leaving only lpass++ to make 16 channels work: https://github.com/lunohod/OpenGround/blob/d0067095f5e2ff160696f973a04789215e232e29/src/FrSkyX_cc2500.c#L177

And then you have to patch lines 160 and 165, beca

[2022-09-07 02:29] Artisticyouth opened #13 "Please Help Me! I need original firmware."
When I tried to backup the firmware, I found that the mcu is read protected. I have no way to back up and the original data is erased. Could you please share your original firmware?
Thanks a lot!